 net "clk"     loc=b8;
# net "anode[0]"   loc=k14;
# net "anode[1]"   loc=m13;
# //net "anode[2]"   loc=j12;
# //net "anode[3]"   loc=f12;
# net "cathode[0]"   loc=l14;
# net "cathode[1]"   loc=h12;
# net "cathode[2]"   loc=n14;
# net "cathode[3]"   loc=n11;
# net "cathode[4]"   loc=p12;
# net "cathode[5]"   loc=l13;
# net "cathode[6]"   loc=m12;
# net "LED_ADDR[0]"  loc=m5;
# net "LED_ADDR[1]"  loc=m11;
# net "LED_ADDR[2]"  loc=p7;
# net "LED_ADDR[3]"  loc=p6;
# net "LED_ADDR[4]"  loc=n5;
# net "LED_ADDR[5]"  loc=n4;
# net "LED_ADDR[6]"  loc=p4;

 net "SEVEN_DATA[0]"  loc=m5;
 net "SEVEN_DATA[1]"  loc=m11;
 net "SEVEN_DATA[2]"  loc=p7;
 net "SEVEN_DATA[3]"  loc=p6;
 net "SEVEN_DATA[4]"  loc=n5;
 net "SEVEN_DATA[5]"  loc=n4;
 net "SEVEN_DATA[6]"  loc=p4;
 net "SEVEN_DATA[7]"  loc = g1;
 
 NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;
  
