net "LED_ADDR[6]" loc = m5 ;
net "LED_ADDR[5]" loc = m11;
net "LED_ADDR[4]" loc = p7;
net "LED_ADDR[3]" loc = p6;
net "LED_ADDR[2]" loc = n5;
net "LED_ADDR[1]" loc = n4;
net "LED_ADDR[0]" loc = p4;
#net "arb_control" loc = p11;
net "RW"      		loc = l3;
net "clk"     		loc = b8;
net "reset"       loc = n3;
net "cathode[6]"  loc = l14;
net "cathode[5]"  loc = h12;
net "cathode[4]"  loc = n14;
net "cathode[3]"  loc = n11;
net "cathode[2]"  loc = p12;
net "cathode[1]"  loc = l13;
net "cathode[0]"  loc = m12;
 net "anode[0]"   loc=k14;
 net "anode[1]"   loc=m13;
 net "anode[2]"   loc=j12;
 net "anode[3]"   loc=f12;
 net "db[7]"     loc = b2;
net "db[6]"     loc = a3;
net "db[5]"     loc = j3;
net "db[4]"     loc = b5;
net "db[3]"     loc = c6;
net "db[2]"     loc = b6;
net "db[1]"     loc = c5;
net "db[0]"     loc = b7;
net "rs"     	 loc = a10;
net "rw1"     	 loc = b9;
net "en"     	 loc = a9;
net "i2c_scl"     	 loc = c12;
net "i2c_sda"     	 loc = a13;

NET "reset" CLOCK_DEDICATED_ROUTE = FALSE;