net "clk"	 	 loc = b8;
net "db[7]"     loc = b2;
net "db[6]"     loc = a3;
net "db[5]"     loc = j3;
net "db[4]"     loc = b5;
net "db[3]"     loc = c6;
net "db[2]"     loc = b6;
net "db[1]"     loc = c5;
net "db[0]"     loc = b7;
net "rs"     	 loc = a10;
net "rw"     	 loc = b9;
net "en"     	 loc = a9;
